# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Private information
servers/private

package-lock.json

# Original design
DESIGN

.idea/

yarn.lock
package-lock.json
*.zip
